<% if alert %>
  <div class="dialog alert alert-info">
    <button type="button" class="close" id="alertbtn">×</button>
    <p><%= alert %></p>
  </div>
<% end %>

<h1 class="dialog">All articles</h1>

<ul class="dialog list-inline">
  <% @articles.each do |a| %>
    <li>
      <h3><%= link_to a.title, article_path(a), :class => "text-deco" %></h3>
      <p><%= a.content %></p>
    </li>
  <% end %>
</ul>
